<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detials | Project Name</title>
    <link rel="stylesheet" href="css/detailsmain.css">
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" media="screen and (max-width: 1000px)" href="css/detailmobile.css">
</head>

<body>
    <nav class="navbar">
        <div class="heading">
            <h1>Project Title</h1>
        </div>
        <div class="links">
            <ul class="list">
                <li class="list-item">
                    <a href="mentor.html">
                        Mentor
                    </a>
                </li>
                <li class="list-item">
                    <a href="student.html">
                        Student
                    </a>
                </li>
                <li class="list-item">
                    <button class="navbtn">
                        Logout
                    </button>
                </li>
            </ul>
        </div>
    </nav>

    <section class="cardbackground">
        <div class="container">
            <div class="profilecontact">
                <img src="assets/img/profilepic.png" alt="profilepic">
                <!-- <div class="contact-container">
                        <a href="#">
                            <img src="assets/img/insta.png" alt="insta">
                        </a>
                        <a href="#">
                            <img src="assets/img/twitter.png" alt="twitter">
                        </a>
                    
                </div> -->
            </div>
            <div class="description">
                <h1 class="newfont">NAME</h1>
                <div class="info">
                    <h2>BRANCH</h2>
                    <h2>HOMETOWN</h2>
                </div>
                <div class="interests">
                    <ul class="fields">
                        <li class="field-item">
                            Hiking
                        </li>
                        <li class="field-item">
                            Arts & Crafts
                        </li>
                        <li class="field-item">
                            Technology
                        </li>
                        <li class="field-item">
                            Movie
                        </li>
                        <li class="field-item">
                            Fashion-Trends
                        </li>
                    </ul>
                </div>
                <div class="detail">
                    <p>
                        This is a short descritpion of the person which was entered in the details form. User writes about himself or anything that he likes.
                    </p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>